{% extends 'base.html.twig' %}

{% block body %}
    <div class="thank-you-section">
    <div class="container text-center py-5">
        <h1 class="display-4 mb-4">Merci pour votre achat!</h1>
        <p class="lead mb-5">Votre commande a été reçue et sera traitée prochainement.</p>
        <a class="btn btn-primary btn-lg">Retour à la Boutique</a>
    </div>
</div>

{% endblock %}
