{% extends 'base.html.twig' %}

{% block title %}
	Your Cart
{% endblock %}

{% block body %}

	<div class="container my-5">
		<h1 class="text-center mb-5">Votre Panier</h1>
		{% if products is empty %}
			<p class="text-center">Votre panier est vide.</p>
		{% else %}
			<table class="table table-striped shadow-lg">
				<thead class="thead-dark">
					<tr>
						<th>Produit</th>
						<th>Quantité</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.title }}</td>
							<td>{{ panier[product.id] }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{{ path('checkout') }}" class="btn btn-primary btn-lg">Commander</a>
		{% endif %}
	</div>

{% endblock %}
